.tag-index-box,
.tag-new-box,
.tag-show-box{
    width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tag-index-title,
.tag-show-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.tag-index-search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tag-index-search-field{
    width: 100%;
    display: flex;
    gap: 1rem;
}
.tag-index-search-form{
    width: 100%;

}

.tag-new-form-group{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

}